#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

#add-button {
  margin-left: 1rem;
}

#delete-button {
  margin-left: 1rem;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

header {
  height: 162px;
  padding-bottom: 1rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
  height: calc(100vh - 162px - 4rem - 1rem - 42px);
  overflow-y: scroll;
  width: 100%;
}

#check-all-div {
  display: flex;
  align-items: center;
  align-self: flex-start;
  margin-left: calc((327px - 18px - 24px - 167px) / 2);
}

.disabled-text {
  opacity: 1;
  -webkit-text-fill-color: rgba(0, 0, 0, 0.38);
}
